.chat{
  width: calc(100% - 300px);
  .header{
    box-sizing: border-box;
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    .header-left{
      padding-top:35px;
      float: left;
      &__title{
        font-size: 20px;
        color: $blackgray;
      }
      &__member{
        font-size:$deta-member-size;
        color: $gray;
        padding-top: 15px;
      }      
    }         
    .header-right{
      &__button{
        float: right;
        border: solid 1px $light-blue;
        padding:10px 20px;
        color: $light-blue;
        margin-top: 28px;
      }
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px);
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $white;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 3px;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
